/* * {
    margin: 10px;
    padding: 0;
    background-image: url(/assets/img/LogoCompasso.svg);
    background-repeat: no-repeat;
    background-position: right 50vh;
	background-size: 30%;
}

body {
    font-family:'Poppins';    
    
}

.cabecalho {    
    height: 131px;
    border-radius: 40px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    
}


.menu {    
    height: 50%;
    background-color: #6688FF;      
    width: 588px;
    padding: 7px 10px;
    left: 8px;
    border-radius: 0px 25px 25px 0px;
}

.titulo__cabecalho {
    color: #FFFFFF;
    font-weight: 700;
    font-style: normal;    
    font-size: 22px;   

}

.texto__cabecalho {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

}

.btn__salvar {    
    width: 33%;
    padding-left: 10px;
}

.btn__cor-verde, .btn__cor-vermelho {
    border: none;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.06rem;
    cursor: pointer;
}

.btn__cor-verde {
    background-color: #2CBE82;
    margin-right: 30px;
}



.btn__cor-vermelho {
    background-color: #DA2B40;
}

.hora {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 20px;
    
    color: #3B3E45;
}

.data {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #3B3E45;
}

.atividade {
    width: 340px;
    height: 40px;
    border-radius: 10px;
    background-color: #FFFFFF;
    
    border: 1px #2CBE82 solid;
}

.selecionar__dia {
    height: 40px;
    text-align: start;;
    width: 340px;
    border-radius: 10px;
    border: 1px #2CBE82 solid;
}

.adicionar__hora {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #2CBE82;
}

.adicionar__atividade {
    height: 40px;
    width: 240px;
    border-radius: 10px;
    border: transparent;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #2CBE82;
    cursor: pointer;
}

.excluir__atividade {
    height: 40px;
    width: 240px;
    border-radius: 10px;
    border: transparent;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #DA2B40;
    cursor: pointer;
} */

/* .horario__texto {
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
}

.horario {
    height: 75px;
    width: 85px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 24px 0 rgba(168, 168, 168, 0.25);
}

.lista__semana {
    height: 33px;
    width: 200px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 9px 9px 0 0;
    font-family: 'Poppins';
    margin-top: 10px;
    

}

.segunda {
    background-color: #FFA246;
    cursor: pointer;
}

.segunda:active{
    width: 250px;   
    cursor: grabbing;
    
}
.terca {
    background-color: #2CBE82;
    cursor: pointer;
}

.terca:active {
    width: 250px;
    cursor: grabbing;
}

.quarta {
    background-color: #6688FF;
    cursor: pointer;
}

.quarta:active {
    width: 250px;
    cursor: grabbing;
}

.quinta {
    background-color: #B366FF;
    cursor: pointer;
}

.quinta:active {
    width: 250px;
    cursor: grabbing;
}

.sexta {
    background-color: #66D1FF;
    cursor: pointer;
}

.sexta:active {
    width: 250px;
    cursor: grabbing;
}

.sabado {
    background-color: #FF66D4;
    cursor: pointer;
}

.sabado:active {
    width: 250px;
    cursor: grabbing;
}

.domingo {
    background-color: #FF6666;
    cursor: pointer;
}

.domingo:active {
    width: 250px;
    cursor: grabbing;
}

.cartao {
    width: 40%;
}

.afazeres {
    width: 512px;
    height: 85px;
    left: 119px;    
    top: 315px;
    background: linear-gradient(112.83deg, rgba(228, 240, 248, 0.42) 0%, rgba(255, 255, 255, 0.336) 110.84%);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
    border: 15px;
} */



/* .plano {
    width: 512px;
    height: 85px;
    position: relative;
    right: 40px;    
    padding-left: 20px ;
    box-shadow: 0 2px 5.5px rgba(0, 0, 0, 0.02);
    border: 1px solid #FFFFFF;
    background: linear-gradient(112.83deg, rgba(228, 240, 248, 0.42) 0%, rgba(255, 255, 255, 0.336) 110.84%);
    border-radius: 15px;
    backdrop-filter: blue(10.5px);
    
    
} 

.plano:hover {
    transition: 0.5;
    background: linear-gradient(112.83deg, rgba(228, 240, 248, 0.76) 0%, rgba(255, 255, 255, 0.61) 110.84%);
    
    
}

.efeitos:hover {
    transition: 0.5;   
    
}

.listra{
    background-color: #FFA246;
    width: 14px;
    height: 83px;
    border-radius: 15px 0 0 15px;
    margin-right: 10px;
    position: relative;
    position: relative;
    left: 7px;
    top: 11px;
}

.hora__plano {
    width: 85px;
    height: 85px;
    background: #ffa34696;
    border-bottom: 1px solid #dcdfe3;
    border-radius: 10px;
    position: relative;
    right: 25px;
    font-size: 17px;
    line-height: 20px;
    color: #3B3E45;
    text-align: center;
}


.btn__apagar {
    color: #FFFFFF;
    background-color: #DA2B40;
    padding: 0.3rem;
    border-radius: 4px;
    cursor: pointer;
    width: 70px;
    height: 20px;   
    font-size: 14px;
    font-style: normal;
    border: none;
    line-height: 20px;
    position: relative;
    right: 136px;
    top: 15px;

} */


