.horario__texto {
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
}

.horario {
    height: 75px;
    width: 85px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 24px 0 rgba(168, 168, 168, 0.25);
}

.lista__semana {
    height: 33px;
    width: 200px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 9px 9px 0 0;
    font-family: 'Poppins';
    margin-top: 10px;
    

}

.segunda {
    background-color: #FFA246;
    cursor: pointer;
}

.selecionado {
    width: 230px;   
    cursor: grabbing; 
}

.terca {
    background-color: #2CBE82;
    cursor: pointer;
}

.terca:active {
    width: 250px;
    cursor: grabbing;
}

.quarta {
    background-color: #6688FF;
    cursor: pointer;
}

.quarta:active {
    width: 250px;
    cursor: grabbing;
}

.quinta {
    background-color: #B366FF;
    cursor: pointer;
}

.quinta:active {
    width: 250px;
    cursor: grabbing;
}

.sexta {
    background-color: #66D1FF;
    cursor: pointer;
}

.sexta:active {
    width: 250px;
    cursor: grabbing;
}

.sabado {
    background-color: #FF66D4;
    cursor: pointer;
}

.sabado:active {
    width: 250px;
    cursor: grabbing;
}

.domingo {
    background-color: #FF6666;
    cursor: pointer;
}

.domingo:active {
    width: 250px;
    cursor: grabbing;
}

.cartao {
    width: 40%;
}

.afazeres {
    width: 512px;
    height: 85px;
    left: 119px;    
    top: 315px;
    background: linear-gradient(112.83deg, rgba(228, 240, 248, 0.42) 0%, rgba(255, 255, 255, 0.336) 110.84%);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
    border: 15px;
}