.horario__texto {
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
}

.horario {
    height: 75px;
    width: 85px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 24px 0 rgba(168, 168, 168, 0.25);
}

.lista__semana {
    height: 33px;
    width: 200px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 9px 9px 0 0;
    font-family: 'Poppins';
    margin-top: 10px;   

}

.segunda {
    background-color: #FFA246;
    cursor: pointer;
}

.segunda:active{
     
    cursor: grabbing;    
}

.terca {
    background-color: #2CBE82;
    cursor: pointer;
}

.terca:active {
    
    cursor: grabbing;
}

.quarta {
    background-color: #6688FF;
    cursor: pointer;
}

.quarta:active {
    
    cursor: grabbing;
}

.quinta {
    background-color: #B366FF;
    cursor: pointer;
}

.quinta:active {
    
    cursor: grabbing;    
}

.sexta {
    background-color: #66D1FF;
    cursor: pointer;
}

.sexta:active {
    
    cursor: grabbing;
}

.sabado {
    background-color: #FF66D4;
    cursor: pointer;
}

.sabado:active {
    
    cursor: grabbing;
}

.domingo {
    background-color: #FF6666;
    cursor: pointer;
}

.domingo:active {    
    cursor: grabbing;
}

